/* ==================================================================== */
/* Text (font) sizes */
/* ==================================================================== */

.text-uppercase {
  text-transform: uppercase;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.font-normal {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

// Sizes:
.text-xxs {
  font-size: 0.6rem !important;
}
.text-xs {
  font-size: 0.75rem !important;
}
.text-sm {
  font-size: 0.875rem !important;
}
.text-base {
  font-size: 1rem !important;
}
.text-lg {
  font-size: 1.125rem !important;
}
.text-xl {
  font-size: 1.25rem !important;
}
.text-2xl {
  font-size: 1.5rem !important;
}
.text-3xl {
  font-size: 1.875rem !important;
}
.text-4xl {
  font-size: 2.25rem !important;
}
